body
{margin-left: 0 ;
margin-right: 0;
background-color: black;}
#socialmediacontainer
{
justify-content: space-between;

position : fixed;
top: 0;
width: 100%;
transition : top 0.3s;
/* background-color: black; */
height: 50px;
z-index: 100;

}
#navibox 
{display:flex;
flex-grow: 1;
justify-content: space-between;}

    /* background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s; */


#iconslink img {
    display:flex;
    width :auto;
height: 50px;

}

#iconslink a {
    float: left;
    background-color: white;
    
}
#iconslink{
justify-content: space-around;
overflow: hidden;}

#bandlogo a 
{
    /* margin-right: 50%; */
    /* margin-left:30% ; */
    display: flex;
    
    float: left ;
    margin-top: 10px;
    /* background-color: cyan; */
     
}

#bandlogo img
{ 
   
    display: flex;
    height: 50px;
    width: auto;
    /* background-color: aliceblue; */

}
#bandlogo
{justify-content: flex-start;}
#navibutton a 
{
    display:flex;
    float: right;

}
#navibutton img 
{
    display:flex;
    background-color: white;
    height: 50px;
    width:auto;

}
#navibutton 
{justify-content: flex-end;}
#fillercontent 
{
    display :flex;
    width: 20px;}

.section {position: relative;
width: 100%;
height: 98vh;
display: flex;
align-items: center;
justify-content:center ;
overflow: hidden;}

.section h1 {text-align: center;
font-size: 3rem;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: black;
opacity: 9;
padding: 0px;
z-index: 1;
color: rgb(252, 248, 248);
width: 20%;
}
.section h1 img {width: 50%;
height: auto;}
.vidcontain{
    position: fixed;
    height: auto;
    width: auto;
    z-index: -10000;
    background-size: cover;
    background-attachment: fixed;
    line-height:0;
}
#normalcontent
{background: rgb(0, 0, 0);
color: white;}

/* slide show */


#slide{
	width:96%;
	}
	
* {
	box-sizing: border-box
}

.mySlides {
	display: none;
}



.slideshow-container {
	width: 1200px;
	position: relative;
	margin: -10px;


}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 2s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#normalcontent #slide
{
  width: 100%;
}
#chartitle {
  
  line-height: 0;
  background-color: #717171;
  text-align: center;
  margin-bottom: 10px;
  
}

#normalcontent #slide .slideshow-container 
{
  width:100%;
  margin-left: 0px;
}

.mySlides p {
  /* background-color: cyan; */
margin:0;
display: flex;

/* width: 50%; */
}
.mySlides img {
  /* display: flex; */
  height: auto;
  width: 50%;
}

.flexcontainer
{display: flex;
justify-content: space-between;
margin-bottom: 10px;}

.left-sidet {
  align-content: center;
  /* background-color: blue; */
  color: white;
  display: flex;
  width: 70%;
  height: auto;
  float: right;}
.right-sidei {
      color: white;
      width: 25%;
      display: flex;
      height: auto;
    }
.left-side{

  color: white;
  display: flex;
  width: 25%;
  float: right;
  height: auto;}
.right-side{
  /* background-color: blue; */
      color: white;
      width: 70%;
      display: flex;}
h2,h1 {text-align: center;}
span {font-family: "Bodoni Moda", serif;
color: red;
font-size: 2rem;}
CRING {font-family: "Bodoni Moda", serif;
  font-size: 2rem;}
p {font-size: 1rem;}





/* setting */

#setting {
  width: 100%;
  height: 1000px;
  position: fixed;
  right:0 ;
  top: -1000px;
  background: black ;
  opacity: 80%;
  z-index: 2;
  transition: 0.5s;

}
nav {padding: 210px;}
nav ul {border: #717171 solid;}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a{
  text-decoration: none;
  color:#fff;
  }
  