@font-face {
  font-family: 'gloucester';
  src: url(gloucester-mt-extra-condensed-maisfontes.6231/gloucester-mt-extra-condensed.ttf) format('truetype');
}
body
{margin-left: 0 ;
margin-right: 0;
background-color: black;
}

/* setting */

#setting {
  width: 100%;
  height: 1000px;
  position: fixed;
  right:0 ;
  top: -1000px;
  background: black ;
  opacity: 80%;
  z-index: 50;
  transition: 0.5s;

}
#change {color: white;
width: fit-content;
font-size: 30px;
}
.changes {border: solid gold 1px; }
.form {margin-top : 10%;
resize: 100%;
justify-content: center;
text-align: center;
font-size: 30px;}
#arebot {
  width: 100%;
  height: 100%;
  position: fixed;
  
  background-color: white;
  z-index: 70;
  transition: 1s;
}
#loginpage{
  width: 100%;
  height: 100%;
  position: fixed;
  
  background-color: white;
  z-index: 60;
  transition: 1s;
}
#listcontainer{display: flex;

width: 50%;
float: left;
}

nav {padding: 110px 210px;}
nav ul {border: #717171 solid;
margin-top: -5px;}
nav ul li {
  list-style: none;
  width: 50%;
  margin: 10px 20px;
  font-size: 50px;
}
nav ul li a{
  text-decoration: none;
  color:#fff;
  }

#socialmediacontainer
{
justify-content: space-between;

position : fixed;
top: 0;
width: 100%;
transition : top 0.3s;
/* background-color: black; */
height: 50px;
z-index: 100;

}
#navibox 
{display:flex;
flex-grow: 1;
justify-content: space-between;
/* border: red solid 2px; */

}


#iconslink img {
    display:flex;
    width :auto;
height: 50px;

}

#iconslink a {
    float: left;
    background-color: white;
    
}
#iconslink{
/* justify-content: space-around; */
overflow: hidden;

}

#bandlogo a 
{

    display: flex;
    
    float: left ;
    margin-top: 10px;
    background-color: rgba(92, 94, 94,0.5);
}
#bandlogo a:hover
{
    display: flex;
    
    float: left ;
    margin-top: 10px;
    background-color: rgba(253, 253, 253, 0.5);
}

#bandlogo img
{ 
   
    display: flex;
    height: 50px;
    width: auto;
    /* background-color: aliceblue; */

}
#bandlogo
{justify-content: flex-start;
}
#navibutton a 
{
    display:flex;
    float: right;

}
#navibutton img 
{
    display:flex;
    background-color: white;
    height: 50px;
    width:auto;

}
#navibutton 
{justify-content: flex-end;}
#fillercontent 
{
    display :flex;
    width: 20px;}

.section {position: relative;
width: 100%;
height: 98vh;
display: flex;
align-items: center;
justify-content:center ;
overflow: hidden;}

.section h1 {text-align: center;
font-size: 3rem;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: black;
opacity: 9;
padding: 0px;
z-index: 1;
color: rgb(252, 248, 248);
width: 20%;
}
.section h1 img {width: 50%;
height: auto;}
.vidcontain{
    position: fixed;
    height: auto;
    width: auto;
    z-index: -10000;
    /* background-size: cover; */
    background-attachment: fixed;
    line-height:0;
}
#normalcontent
{background: rgb(0, 0, 0);
color: white;}

.CREDATION input{border-color: red ;}
#phone {outline: 0;}
#phone:valid {
  border-color: green;
}

#email {outline: 0;}
#email:valid {border-color: green;}

#username:valid {border-color: green;}
#password:valid {border-color: green;}

/* slide show */


#slide{
	width:96%;
	}
	
* {
	box-sizing: border-box
}

.mySlides {
	display: none;
}



.slideshow-container {
	width: 1200px;
	position: relative;
	margin: -10px;


}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 2s;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#normalcontent #slide
{
  width: 100%;
}
#chartitle {
  
  line-height: 0;
  background-color: #717171;
  text-align: center;
  margin-bottom: 10px;
  
}

#normalcontent #slide .slideshow-container 
{
  width:100%;
  margin-left: 0px;
}

.mySlides p {
  /* background-color: cyan; */
margin:0;
display: flex;

/* width: 50%; */
}
.mySlides img {
  /* display: flex; */
  height: auto;
  width: 50%;
}

.flexcontainer
{display: flex;
justify-content: space-between;
margin-bottom: 10px;}
.flexcontaineroppo
{display: flex;
justify-content: space-between;
margin-bottom: 10px;}

.left-sidet {
  /* align-content: center; */
  /* background-color: blue; */
  color: white;
  display: flex;
  width: 70%;
  height: auto;
  float: right;
  min-width: 850px;}
.right-sidei {
      color: white;
      width: 18%;
      display: flex;
      height: auto;
      position: relative;
      right: 3rem;
    }
.left-side{

  color: white;
  display: flex;
  width: 25%;
  float: right;
  height: auto;
position: relative;
left: 2rem;}
.right-side{
  /* background-color: blue; */
      color: white;
      width: 70%;
      display: flex;
    min-width: 850px;}

#kanon {height: 350px; width: auto;}
#rahwia {height: 350px; width: auto;}

h2,h1 {text-align: center;}
span {font-family: "Bodoni Moda", serif;
color: red;
font-size: 2rem;}
CRING {font-family: "Bodoni Moda", serif;
  font-size: 2rem;
color: white;}
p {font-size: 30px;
font-family: 'gloucester',sans-serif;}





.contacts ul {
  list-style-type: none;
/* display: flex; */
}

#linkpage {
  background-image: url("https://royal-scandal.com/images/bg_footer.jpg") ;
  background-size: cover;
  z-index: 10;
  position: relative;
  padding: 100px 40px 110px;
  max-width: none;
  margin: 0 auto;
  display: block;
}
#individuallink 
{
  position: relative;
  padding: 5px 0;
  margin: 0 auto;
  max-width: 800px;
}


.contacts 
{
  display: flex;
  justify-content: center;
}
.contacts ul 
{
  padding: 0%;
}

@media screen and (max-width : 1400px){
  #linkpage {padding: 80px 0px 90px;
  }
  #individuallink 
  {
    width: fit-content;
  }
  #individuallink img
  {
    width: 300px;
    height: auto;
    /* max-width: 400px; */
  }
  .contacts {width: fit-content;}


}


  

/* iphone SE */
  @media screen and (max-width : 1400px){
    body {
      
      width: fit-content;
    }
#normalcontent
{
  width: 105%;
}
    nav {
      width: fit-content;
      padding: 30px;
    margin: 0 auto;
  padding-top: 100px;}
    #socialmediacontainer
    {width: 100%;}
    #kanon {width: 400px; }
    #rahwia {height: 380px; 
      display: flex;
      float: left;}
    #pictext {width: fit-content; height: auto;}
    .vidcontain{
      position: fixed;
      height: auto;
      width: auto;
      z-index: -10000;
      /* background-size: cover; */
      
      line-height:0;
  }
  .mySlides p {display: flex;
  flex-direction: column;
border: gold 1px solid;}
  .mySlides img {width: 100%;}
  .flexcontainer{flex-direction: column-reverse;}
  .flexcontainer p {padding-left: 50px;}
  .flexcontainer img {
    right: 0.5rem;
    border:2px;
  border-radius: 200px ;}
  .flexcontaineroppo p { padding-left: 50px;}
  .flexcontaineroppo{flex-direction: column;}
  .flexcontaineroppo img {border: 2px;
  border-radius: 150px;
    width: 100%;
}
  #pictext p {width:fit-content}

  p {font-size: 20px;
    font-family: 'gloucester',sans-serif;
  }
    #iconslink {
      
      flex-direction: column;}

#iconslink a {width: fit-content;
height: fit-content;}

#iconslink img
{
  width: 40px; height: auto;
}

#navibutton img {right: 10px;}

.left-side {width: 90%;}

  .section {
    width: 100%;
  /* left:150PX; */
}


#listcoontainer li{
  width: 100%;
  font-size: 30px;}

  .left-sidet { min-width: 0;}
  
    .right-side{min-width: 0;}
.right-sidei {width: 100%;}
.form {margin-top: 30%;}
    }